* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Serif", serif;
}

header {
  background-color: cadetblue;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-header {
  text-align: left;
  margin-top: 20px;
}

#intro-img {
  border-radius: 20px;
}

footer {
  width: 100%;
  background-color: cadetblue;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer a {
  transition: all 0.3s ease-in-out;
  background-color: rgb(135, 218, 221);
  border-radius: 10px;
  padding: 4px 8px;
  text-decoration: none;
  color: black;
}

footer p {
  margin-top: 7px;
}

footer a {
  margin-bottom: 10px;
}

footer a:hover {
  background-color: rgb(135, 218, 221, 0.5);
  color: white;
}
